@font-face {
  font-family: 'Arial Monospaced';
  src: url('/fonts/ArialMonospaced.woff2') format('woff2'), url('/fonts/ArialMonospaced.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes pulse {
  0% { color: black; }
  50% { color: blue; }
  100% { color: black; }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 48px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #222;
  line-height: 1.33;
  margin: 0.5em;
}

body,
input {
  -webkit-font-smoothing: antialiased;
  font-family: 'Arial Monospaced', sans-serif;
}

input {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
  border: none;
}
  input:focus {
    outline: none;
  }

.Task {
  display: flex;
  margin-bottom: -2px;
}
  .Task__actions {
    display: flex;
  }
    .Task__actions > a {
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: pointer;
      border: 2px solid;
      width: 2em;
      margin-right: -2px;
    }
      .Task__actions > a:hover {}
  .Task__display {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 0.5em 1em;
  }
    .Task__label {}
    .Task__label--playing {
      animation: pulse 1s infinite;
    }

.Icon {
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}
  .Icon--remove {
    background-image: url('/svg/remove.svg');
  }
  .Icon--play {
    background-size: 45%;
    background-image: url('/svg/play.svg');
  }
  .Icon--pause {
    background-size: 45%;
    background-image: url('/svg/pause.svg');
  }
